.container-fluid{
  .project{
    .project-title{
      margin: 20px 1px;
      color: #ACACAC;
      .add-project{
        font-weight: 600;
        color: #515151;
      }
    }
    .project-body{
      .btn-back{
        width: fit-content;
        &:hover{
          cursor: pointer;
        }
      }
      .project-grid{
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        gap: 20px;
        margin-top:1.5em;
        .project-attachment{
          .file-attachment{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: auto;
            height: 350px;
            background: #F8F8F8 0% 0% no-repeat padding-box;
            border-radius: 32px;
            small{
              margin-top: 1rem;
              color: #515151;
            }
          }
          .btn-upload-attachment{
           border: 1px solid var(--primary-color);
            margin-top: 1.5rem;
            display: flex;
            margin: auto;
            margin-top: 1.5rem;
            padding: 10px 30px;
            border-radius: 25px;
            color: var(--primary-color);
            background: transparent;
            transition: .4s ease-in;
            span{
              padding-left: 10px;
            }
            &:hover{
              background: var(--primary-color);
              color: #fff;
              img{
                filter: brightness(0) invert(1);

              }
            }
        }

        }
        .project-info{
          .row{
            .dir-ar{
              direction: rtl;
            }
            .form-group{
              margin-bottom: 1rem;
              label{
                font: normal normal 600 16px/27px Poppins;
                  color: #404040;
                  margin-bottom: .5rem;
              }
              .form-control,.form-select{
                box-shadow: none;
              }
            }
          }
          .bank-details{
            margin-top: 1rem;
            h5{
              font-weight: 600;
            }
          }
        }
        .form-btn{
          text-align: right;
          margin: 1rem 0 2rem 0;
          .btn-primary{
            padding: 13px;
            width: 150px;
            font-size: 17px;
            border: 0;
            border-radius: 20px;
            background-color: var(--primary-color);
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width:768px){
  .container-fluid {
    .project{
      .project-body{
        .project-grid{
          grid-template-columns:1fr;
        }
      }
    }
  }
}
